 /* .logout{
 box-sizing: border-box;
width: 112px;
height: 38px;
background: #F1BA19;
border: 1px solid #000000;
border-radius: 5px;
text-align: center;
float: right;
margin-left: 10px;
bottom:  11px;
left: 92px;

} */

/* .logo{
  height: 42px;
  width: 310px;
  left: 74px;
  top: 25px;
  border-radius: 0px;
  margin-right: 213.267px;
  margin-bottom: 25px;
  max-width: 100%;
  }
 */
/* nav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 36.79px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  margin-right: 73.57px;
  margin-left: 62.54px;
  height: 17px;

} */
/* .Link{
   height: 17px;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
} */
/* .header{
  justify-content: center;
} */
/* @media (max-width: 1200px) {
.logo{
  margin-left: 40px;
  width: auto;
}  */
 /* .logout{
  margin-left: auto;
  /* margin-right: auto;  */
 /* }  */
/* .Link{
/* visibility: hidden;} */
/* } */ 
/* .toggle-button{
  display: inline-flex;
} */

/* @media (max-width: 1100px) {
  .Link{
    /* display: flex;
    flex-direction: column; */
    /* justify-content: left; */
  /* } */ 
  /* nav{
    flex-direction:column-reverse;

  } */
  /* svg{
    display:f!important;
  } */
  /* .logo{
     display: inline-block;
    margin-right: auto;
    margin-left: auto;
  } */
  /* .logout{
    display: none;
  } */
/* } */
  
 /* svg{

   display: none !important;
 } */
 .navBar-container {
}
.logout{
  box-sizing: border-box;
 width: 112px;
 height: 38px;
 background: #F1BA19;
 border: 1px solid #000000;
 border-radius: 5px;
 text-align: center;
 float: right;
 /* margin-left: 10px;
 bottom:  11px;
 left: 92px;
 position: fixed; */
 
 }
.Link{
  height: 17px;
 text-decoration: none;
 font-size: 14px;
 color: #000000;
} 
img{
  /* width: 45vh; */
}
nav {
	background-color: var(--dark);
	color: var(--light);
	border-bottom: 3px solid var(--primary);
}
.nav-container {
	display: flex;
	/* flex-wrap: wrap; */
	align-items: center;
	justify-content: space-between;

	max-width: 1280px;
	padding: 0 30px;
	margin: 0 auto;
}

.nav-brand {
	font-size: 28px;
	font-weight: 900;
	text-transform: uppercase;
}

.menu {
	display: none;
	justify-content: flex-end;
}

.menu a {
	padding: 8px 16px;
	text-decoration: none;
	color: var(--primary);
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 90px;
}

.menu a:hover {
	color: var(--dark);
	background-color: var(--primary);
}

.hamburger {
	display: block;
	user-select: none;
	appearance: none;

	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

.hamburger span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;

	background-color: black;
	border-radius: 6px;

	transform-origin: 0 0;
	transition: 0.4s;
}

/* .hamburger:hover span:nth-child(2) {
	transform: translateX(10px);
	background-color:blue;
}

.active-hamburger span:nth-child(1) {
	transform: translate(0px, -2px) rotate(44deg);
}
.active-hamburger span:nth-child(2) {
	transform: translate(0px, -2px) rotate(44deg);
	opacity: 0;
}
.active-hamburger span:nth-child(3) {
	transform: translate(-2px, 5px) rotate(-44deg);
} */

.nav-dropdown {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	width: 100vw;
	height: 100%;
	padding: 10px 0;
	background-color: var(--primary);
}
.nav-dropdown a {
	padding: 8px 16px;
	margin: 0 16px;

	text-decoration: none;
	color: var(--dark);
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 90px;
}
.nav-dropdown a:hover {
	color: var(--primary);
	background-color: var(--dark);
}

@media (min-width: 1050px) {
	.hamburger {
		display: none;
	}
	.menu {
		display: block;
	}

	.nav-dropdown {
		display: none;
	}
}
@media (max-width: 1050px) {
  .logout{
    margin-left: auto;
  }
}
@media (max-width:552px) {
  img{
    width: 250px;
  }
}